{% load static  %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="cabecalho">
            
            <img class="cabecalho-imagem" src="{% static 'img/simbolo.svg' %}" alt="simbolo hydra">
            <img class="cabecalho-imagem" src="{% static 'img/hydra_logo.svg' %}" alt="logo hydra">
            <nav class="cabecalho-menu-item">
                <a class="cabecalho-menu-item-1" href="http://127.0.0.1:8000/admin">ABOUT</a>
                <a class="cabecalho-menu-item">SERVICES</a>
                <a class="cabecalho-menu-item">TECHNOLOGIES</a>
                <a class="cabecalho-menu-item-2">HOW TO</a>
                   
                <button class="meu-botao">CONTACT US</button>
                <button class="botao-2">JOIN HYDRA</button>
                
            </nav>
        </header>
    <main>
        <img class="imagem" src="{% static 'img/Mask_group.svg' %}" alt="imagem aparelho">
        
        <div class="ajuste">

        <div class="container">           
            <h1 class="texto-1">Dive</h1>
            <h1 class="texto-2">Into The Depths</h1>
        
        </div>

        <div class="container">   
            <p class="texto-3">Of</p>
            <p class="texto-4"> Virtual Reality</p>
        </div>

        </div>
        
        <div>
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
            <p class="texto">sed do eiusmod tempor incididunt ut labore et dolore</p> 
            <p class="texto">nisl tincidunt eget. Lectus mauris eros in vitae.</p>
        </div>
    </main>
        
        
        
    </body>
</html>